/* Quicksand */
/* Quicksand-Light 300 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Quicksand Light"), local("Quicksand-Light"),
    url("./fonts/Quicksand-Light.ttf") format("truetype");
}
/* Quicksand-Regular 400 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"),
    url("./fonts/Quicksand-Regular.ttf") format("truetype");
}
/* Quicksand-medium 500 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("Quicksand Medium"), local("Quicksand-Medium"),
    url("./fonts/Quicksand-Medium.ttf") format("truetype");
}
/* Quicksand-SemiBold 600 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Quicksand SemiBold"), local("Quicksand-SemiBold"),
    url("./fonts/Quicksand-SemiBold.ttf") format("truetype");
}
/* Quicksand-Bold 700 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Quicksand Bold"), local("Quicksand-Bold"),
    url("./fonts/Quicksand-Bold.ttf") format("truetype");
}
